#random, #reset {
  height: 100px;
  width: 300px;
  font-size: 36pt;
  background-color: #E5B6D5;
  color: #FFFFFF;
  border: 8px solid;
  border-color: #B2479A #CC7FB5;
}

#random:hover, #reset:hover {
  background-color: #B2479A;
  border-color: #CC7FB5 #E5B6D5;
  border-top: 8px solid #CC7FB5;
}
